@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&family=Russo+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-image: url("./img/bg.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

.container {
  /* margin: 0 12%; */
  height: 94vh;
  /* background-color: rgba(255, 244, 224, 0.6); */

  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.7)), url("https://img.freepik.com/premium-vector/financial-banking-technology-concept_387612-44.jpg?w=2000");
  background-repeat: no-repeat;
  background-size: cover;
}

.navigation {
  background-color: hsl(230, 74%, 40%);
  /* padding: 10px; */
  height: 60px;
  display: flex;
  justify-content: space-between;
  position: sticky;
}

.navigation img {
  position: absolute;
  top: 2px;
  width: 50px;
  margin-left: 2rem;
}

nav {
  align-items: center;
  padding-right: 8px;
}

.logo {
  float: left;
  font-size: 20px;
  /* font-weight: bold; */
  line-height: 60px;
  text-align: center;
  margin-left: 5rem;
  cursor: pointer;
}

.logo .logo-hlt {
  color: rgb(255, 244, 224);
}

.logo img {
  height: 30px;
}

ul li {
  display: inline-block;
  padding: 0 10px;
  font-size: 17px;
  font-family: 'Rubik', sans-serif;
  letter-spacing: 0.8px;
  line-height: 60px;
  cursor: pointer;
  transition: 0.6s;
}

ul li:hover {
  background-color: rgb(255, 244, 224);
}

ul li a {
  text-decoration: none !important;
  color: #111;
}

nav ul li a {
  text-decoration: none;
}

.banner img {
  margin-top: 10px;
  width: 100%;
  height: 400px;
}

.heading {
  margin: 20px 0;
  width: 100%;
  text-align: center;
}

.heading h2 {
  font-size: 2rem;
  font-weight: bold;
}

.fas,
.far {
  color: rgb(96, 145, 244);
}

.main_function {
  padding: 60px 0;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}

.welcome {
  width: 50%;
}

.welcome img {
  width: 360px;
  border-radius: 140px;
  border: 4px solid white;
}
/*
form {
  /* width: 50%;
  padding-right: 60px; 
}*/

form button {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  border: 3px solid cadetblue;
  width: 300px;
  height: 60px;
  margin: 24px 20px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.6s;
}

form button:hover {
  background-color: cadetblue;
  border: 3px solid black;
  color: rgb(255, 244, 224);
}
body{
  min-height: 100vh;
}
footer {
  /* margin-left: 12%; */
  /* width: 76%; */
  height: 45px;
  background-color: hsl(230, 74%, 40%);
  display: flex;
  justify-content: center;
  background-size:cover;
  position: sticky;
  top: 95%;
}

footer p {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 1px;
  margin-right: 4rem;
}

.footer_logo {
  font-weight: bold;
  color: rgb(255, 244, 224);
}

.social-icon {
  margin-right: 16px;
  line-height: 40px;
}

.social-icon i {
  color: #111;
  font-size: 1rem;
  padding-right: 20px;
  cursor: pointer;
}

.heading h2 i {
  color: rgb(0, 0, 0);
}